header {
  @include flex(row, space-between, center);
  font-size: $header-size;
  border-bottom: 1px solid $light-gray;
  padding: 0 5px;
}

.left-header {
  @include flex(row, space-between, center);
}

.jersey-number {
  width: 30px;
}
