header {
  @include flex(row, space-between, center);
  position: fixed;
  top: 0;
  background: $dark-gray;
  color: $white;
  width: 100%;
  height: 56px;
  padding: 0 10px;
  box-sizing: border-box;
  @include default-box-shadow();
}

.main-container {
  @include flex(row, flex-start, stretch);
  position: relative;
  left: -175px;
  width: calc(100% + 175px);
  margin-top: 56px;
  transition: left 0.25 ease;

  &.show-nav {
    left: 0;
    width: 100%;
  }
}

nav {
  width: 175px;
  background-color: $royal-blue;
  flex-shrink: 0;
}

main {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  flex-grow: 0;
}
