:host {
  display: block;
  border-bottom: 1px solid $light-gray;
}

.player {
  @include flex(row, space-between, center);
  font-size: $row-size;
  height: 35px;
  padding: 0 5px;
  transition: all 0.25s ease;

  &:hover {
    background-color: $row-hover-blue;
  }
}

.back-of-jersey {
  @include flex(row, flex-start, center);
}

.info {
  @include flex(row, flex-end, center);
}

.number {
  width: 30px;
}

.jersey-number {
  width: 30px;
}

.bats-throws,
.age {
  width: 40px;
  text-align: right;
}

.weight,
.height {
  display: none;
  width: 50px;
  text-align: right;
}

.college {
  display: none;
}

.college {
  display: none;
}

@media (min-width: 400px) {
  .weight,
  .height {
    display: block;
  }
}

@media (min-width: 600px) {
  .college {
    display: block;
  }
}
