:host {
  display: block;
  border-bottom: 1px solid $light-gray;
}

.player {
  @include flex(row, space-between, center);
  font-size: $row-size;
  height: 35px;
  padding: 0 5px;
  transition: all 0.25s ease;

  &:hover {
    background-color: $royal-gold;
    color: $white;
  }
}

.back-of-jersey {
  @include flex(row, flex-start, center);
}

.info {
  @include flex(row, flex-end, center);
}

.number {
  width: 30px;
}

.jersey-number {
  width: 30px;
}

.age {
  width: 30px;
  text-align: right;
}
